.vn-chars {
  margin-bottom: 50px;
  color: $textgrey;

  h2 {
    font-size: 1.35rem;
    margin-bottom: 20px;
  }

  .tabs {
    box-sizing: border-box;
    padding: 5px 0 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid $textlightgrey;
    background-color: $white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    @include flexbox(flex-start, center, row, nowrap);

    button {
      box-sizing: border-box;
      border: none;
      background: $white;
      font-size: 0.95rem;
      padding: 10px 10px 10px 20px;

      &::-moz-focus-inner {
        border: 0;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .spoiler-btn {
      margin-left: auto;
      padding-right: 20px;
    }
  }

  .content {
    h3 {
      font-size: 1.1rem;
      margin-bottom: 10px;
    }

    .summary {
      @include flexbox(flex-start, flex-start, row, wrap);
      width: 100%;

      .char {
        box-sizing: border-box;
        width: 32%;
        margin: 0.5% 0.5%;
        background-color: $white;
        border-radius: 5px;
        padding: 5px;

        .head {
          border-bottom: 1px solid $textlightgrey;
          padding-bottom: 5px;
          @include flexbox(flex-start, flex-start, row, wrap);
          margin-bottom: 5px;

          svg {
            color: $textlightgrey;
          }

          .name {
            padding-left: 5px;
            color: $textgrey;
            text-shadow: 0.2px 0.2px $textlightgrey;
          }

          .role {
            margin-left: auto;
            color: $textlightgrey;
          }
        }

        .seiyuu {
          :nth-child(1) {
            font-size: 0.8rem;
            margin-bottom: 5px;
            color: $textlightgrey;
          }

          .sei-name {
            font-size: 0.9rem;

            .sei-note {
              padding-left: 10px;
              color: $textlightgrey;
            }
          }
        }
      }
    }

    .characters {
      h4 {
        font-size: 1.05rem;
        margin-bottom: 10px;
      }

      .char {
        width: 100%;
        background-color: $white;
        box-sizing: border-box;
        padding: 20px 10px;
        margin-bottom: 10px;
        @include flexbox(flex-start, flex-start, row, nowrap);

        .char-image {
          min-width: 256px;
          margin-right: 10px;
        }

        .char-info {
          width: 100%;
          margin-right: 50px;

          .name {
            margin-bottom: 10px;
            border-bottom: 0.5px solid $textlightgrey;

            :nth-child(1) {
              font-weight: 600;
              font-size: 1.05rem;
            }

            :nth-child(2) {
              font-weight: 400;
              padding-left: 10px;
              color: $textlightgrey;

              svg {
                padding-left: 10px;
              }
            }
          }

          .desc {
            display: grid;
            row-gap: 10px;
            column-gap: 30px;
            grid-template-columns: [label] auto [value] 1fr;

            .label {
              grid-column: label;
              font-weight: 600;
            }

            .value {
              grid-column: value;

              span {
                margin-right: 2px;
              }
            }

            .bloodtype {
              text-transform: uppercase;
            }

            .seiyuu {
              span {
                color: $textlightgrey;
                padding-left: 10px;
              }
            }

            .no-spoil-desc {
              .spoilers {
                span {
                  display: none;
                }
                &::after {
                  content: '[Hidden due to spoilers]';
                  display: inline;
                  padding: 0 5px;
                  color: $textlightgrey;
                }
              }
            }
          }
        }
      }
    }
  }
}
