.vn-releases {
  margin-bottom: 50px;
  color: $textgrey;

  h2 {
    font-size: 1.35rem;
    margin-bottom: 20px;

    span {
      padding-left: 10px;
      font-size: 0.8rem;
    }
  }

  .language-grp {
    margin-bottom: 20px;

    h3 {
      font-size: 0.95rem;
      margin-bottom: 5px;

      abbr {
        margin-right: 5px;
      }
    }

    .language-releases {
      margin-left: 20px;
      display: grid;
      font-size: 0.95rem;

      .rel-row {
        box-sizing: border-box;
        margin: 5px 0;
        padding: 0 10px;

        .main-info {
          @include flexbox(flex-end, flex-start, row, nowrap);

          .released {
            width: 100px;
          }

          .age {
            width: 100px;
            text-align: center;
          }

          .rel-name {
            margin-right: auto;

            svg {
              display: none;
              color: $textlightgrey;
              font-size: 0.8rem;
              padding-left: 10px;
            }

            span {
              color: $textlightgrey;
              padding-left: 2px;
            }
          }

          &:hover {
            cursor: pointer;
            color: black;

            .rel-name {
              svg {
                display: inline;
              }
            }
          }
        }

        .more-info {
          display: none;

          .desc {
            @include flexbox(flex-start, flex-start, column, nowrap);
            margin: 10px 20px;

            &.notes {
              width: 100%;
            }

            .label {
              font-weight: 600;
              padding-bottom: 2px;
            }

            .value {
              color: $textgrey;
              font-size: 0.9rem;
            }
          }

          &.expand {
            margin: 10px 0;
            @include flexbox(flex-start, flex-start, row, wrap);
          }
        }

        &.expand {
          background-color: $white;
          border-radius: 5px;
          padding: 5px 10px;
          color: black;

          .main-info {
            padding-bottom: 5px;
            border-bottom: 0.5px solid $textlightgrey;

            .rel-name {
              svg {
                display: inline;
              }
            }
          }
        }
      }
    }
  }
}
