.vn-info {
  @include flexbox(flex-start, flex-start, row, nowrap);
  margin-bottom: 50px;

  .desc {
    box-sizing: border-box;
    width: 60%;

    h1 {
      font-size: 2.3rem;
      margin: 20px 0 40px;
    }

    .desc-desc {
      margin-bottom: 30px;

      :nth-child(1) {
        font-weight: 600;
        text-decoration: underline;
        margin-bottom: 10px;
      }
      :nth-child(2) {
        width: 95%;
        font-size: 1.15rem;
        line-height: 1.5rem;
      }
    }

    .rankings {
      .ranking-head {
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }

  .info {
    box-sizing: border-box;
    width: 40%;
    padding-left: 100px;

    .vn-image {
      width: 100%;
      margin-bottom: 20px;

      img {
      }
    }

    .vn-group {
      font-size: 1.1rem;
      width: 100%;
      @include flexbox(flex-start, center, row, nowrap);

      :nth-child(1) {
        font-weight: 600;
        margin-right: 5px;
      }

      margin-bottom: 5px;
    }
  }
}
